body{
	background-color: #319696;
}
.header a{
	float: right;
	background-color: white;
	margin: 10px;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.titelbar h4{
	font-size: 24px;
}
.titelbar ul{
	list-style: none;
	float: right;
	text-align: center;
}
.titelbar li{
	padding: 2px;
	margin: 3px;
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
	
}
.info p{
	padding: 10px;
	width: 50%;
}
.choreList ul{
	list-style: none;
}
.unassignedChores li{
	background-color: #319696;
	text-align: center;
	width: 90%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.unassignedChores h4, p{
	margin: 5px;
}
.unassignedChores{
	background-color: white;
    margin: 5px;
	float: left;
	width: 30%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.assignedChoresOne{
	background-color: white;
	margin: 5px;
	float: left;
	width: 30%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.assignedChoresTwo{
	background-color: white;
	margin: 5px;
	float: left;
	width: 30%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.assignedChoresOne li{
	background-color: #319696;
	text-align: center;
	width: 90%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.assignedChoresTwo li{
	background-color: #319696;
	text-align: center;
	width: 90%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
/**
* CHAMP DASHBOARD
**/
.choreList h4, p{
	margin: 5px;
}
.todo{
	background-color: white;
    margin: 5px;
	float: left;
	width: 49%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.done{
	background-color: white;
	margin: 5px;
	float: left;
	width: 49%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.todo li{
	background-color: #319696;
	text-align: center;
	width: 90%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.done li{
	background-color: #319696;
	text-align: center;
	width: 90%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.infoPoints{
	text-align: center;
}
.pointvalue{
	margin-left: 46.8%;
	background-color: white;
	width: 5%;
	padding: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}